# Build essentials
Cython>=0.29
setuptools>=65
wheel>=0.40

# Core dependencies
duckduckgo-search==8.1.1
google-api-core==2.28.1
google-api-python-client==2.186.0
groq==0.33.0
python-dotenv==1.2.1
streamlit==1.51.0

# LangChain ecosystem
langchain==0.3.4
langchain-community==0.3.3
langchain-huggingface==0.1.0
langchain_google_community
